APP_ENV=development

HTTP_PORT=8080
HTTP_READ_TIMEOUT_SECONDS=15
HTTP_READ_HEADER_TIMEOUT_SECONDS=5
HTTP_WRITE_TIMEOUT_SECONDS=30
HTTP_IDLE_TIMEOUT_SECONDS=60
HTTP_SHUTDOWN_TIMEOUT_SECONDS=10

MONGODB_USER=your_db_user
MONGODB_PASS=your_db_pass
MONGODB_URI=your_db_uri
MONGODB_DATABASE=pixelerion_api
MONGODB_CONNECTION_TIMEOUT=10